body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .timer-display {
    font-size:35vw; /* Juster størrelsen etter behov */
    color: white;
    text-align: center;
  }
  .timer-display.negative {
    color: red;
  }
  